@model IEnumerable<ProjetoTcs.Models.RotaDosFuncionarios>

@{
    ViewBag.Title = "Post";

}
<div class="panel-heading">
    <h2>Resultado</h2>
</div>

<div class="panel-body">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td style="background-color:#999"> Codigo Rota</td>
                <td style="background-color:#999"> Nome PdvFuncionario</td>
                <td style="background-color:#999"> Cidade</td>
                <td style="background-color:#999"> Rua </td>
                <td style="background-color:#999"> Funcionário</td>
                <td style="background-color:#999"> Data Atendimento</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.FirstOrDefault() != null)
            {
                foreach (var rota in Model)
                {
                    <tr>
                        <td>@rota.IdRota</td>
                        <td>@rota.PdvFuncionario</td>
                        <td>@rota.Cidade</td>
                        <td>@rota.Rua</td>
                        <td>@rota.Funcionario</td>
                        <td>@rota.DataAtendimento.ToString("dd/MM/yyyy")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="panel-footer panel-info">
    @Html.ActionLink("Voltar ", "Index", null, new { @class = "btn btn-warning" })
</div>

@section styles{
    <link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet" />
}


@section ScriptPage {
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="@Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').dataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json"
                }

            });
            "order"[[1, "asc"]]
        });
    </script>
}
